---
import Layout from "@/components/layouts/Layout.astro";
---

<Layout title="Meista" description="Ovihomma meista">
  <main>
    <div class="wrapper">
      <h1>Meista</h1>
    </div>
  </main>
</Layout>
