.wrapper {
  max-width: 1200px;
  width: 100%;
  padding-inline: 1rem;
  margin: 0 auto;
}

.max-800 {
  max-width: 800px;
  margin: 0 auto;
}

.smaller-h2 {
  font-size: 1.25rem;
  text-transform: uppercase;
}
