<footer>
  <div class="footer-content">
    <div class="footer-content wrapper">&copy; 2026</div>
  </div>
</footer>

<style>
  footer {
    min-height: 2rem;
    display: flex;
    align-items: center;
    border-top: 1px solid indianred;
  }

  .footer-content {
    padding-block: 0.5rem;
  }
</style>
