---
import Layout from "@/components/layouts/Layout.astro";
---

<Layout title="Tuotteet" description="Ovihomma tuotteet">
  <main>
    <div class="wrapper">
      <h1>Tuotteet</h1>
    </div>
  </main>
</Layout>
