---
import Layout from "@/components/layouts/Layout.astro";
---

<Layout title="Huolto" description="Ovihomma huolto">
  <main>
    <div class="wrapper">
      <h1>Huolto</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
        suscipit non deserunt qui quo reprehenderit deleniti voluptate veniam
        dolores commodi dolorem, eius explicabo excepturi, adipisci vero!
        Eligendi voluptate ut corporis.
      </p>
    </div>
  </main>
</Layout>
