---
import Layout from "@/components/layouts/Layout.astro";
---

<Layout title="Yhteystiedot" description="Ovihomma yhteystiedot">
  <main>
    <div class="wrapper">
      <h1>Yhteystiedot</h1>
    </div>
  </main>
</Layout>
